<div class="wrapper">
  <div id="row">
    <div class="DnnModule">
      <div class="desktop">
        <h2 style="text-align: center; margin: 20px 0px 20px;"><a >{{ 'PRODUCTS.Picks_of_the_Month' | translate }}</a></h2>
        <ol style="margin: 0px; padding: 0px; overflow: hidden; list-style: outside none none;">
          <ol style="margin: 0px; padding: 0px; overflow: hidden; list-style: outside none none;" role="presentation">
            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Philip Roth');" href="/book/-9780393240726" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Philip Roth" src="https://covers.powells.com/9780393240726.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Philip Roth');" href="/book/-9780393240726" rel="book-title">Philip Roth</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Blake Bailey</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Entangled Life');" href="/book/-9780525510321" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Entangled Life" src="https://covers.powells.com/9780525510321.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Entangled Life');" href="/book/-9780525510321" rel="book-title">Entangled Life</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Merlin Sheldrake</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Crying in H Mart');" href="/book/-9780525657743" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Crying in H Mart" src="https://covers.powells.com/9780525657743.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Crying in H Mart');" href="/book/-9780525657743" rel="book-title">Crying in H Mart</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Michelle Zauner</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Empire of Pain');" href="/book/-9780385545686" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Empire of Pain" src="https://covers.powells.com/9780385545686.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Empire of Pain');" href="/book/-9780385545686" rel="book-title">Empire of Pain</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Patrick Radden Keefe</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Empire of Pain');" href="/book/-9780385545686" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Empire of Pain" src="https://covers.powells.com/9780385545686.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Empire of Pain');" href="/book/-9780385545686" rel="book-title">Empire of Pain</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Patrick Radden Keefe</cite></div>
            </span></div>
          </ol>
          
        </ol>

        <h2 style="text-align: center; margin: 20px 0px 20px;"><a >{{ 'PRODUCTS.BestSellers' | translate }}</a></h2>
        <ol style="margin: 0px; padding: 0px; overflow: hidden; list-style: outside none none;">
          <ol style="margin: 0px; padding: 0px; overflow: hidden; list-style: outside none none;" role="presentation">
            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Philip Roth');" href="/book/-1110000348744" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Philip Roth" src="https://covers.powells.com/1110000348744.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Philip Roth');" href="/book/-9780393240726" rel="book-title">Philip Roth</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">While Justice Sleeps (Event Ticket and Signed Preorder) by Stacey Abrams</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Entangled Life');" href="/book/-9781250223180" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Entangled Life" src="https://covers.powells.com/9781250223180.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Entangled Life');" href="/book/-9780525510321" rel="book-title">Entangled Life</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">Everyone's Table Signed Edition by Gregory Gourdety</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Crying in H Mart');" href="/book/-9780062984517" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Crying in H Mart" src="https://covers.powells.com/9780062984517.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Crying in H Mart');" href="/book/-9780525657743" rel="book-title">Crying in H Mart</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">The Hill We Climb by Amanda Gorman</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Empire of Pain');" href="/book/-9780593465271" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Empire of Pain" src="https://covers.powells.com/9780593465271.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Empire of Pain');" href="/book/-9780385545686" rel="book-title">Empire of Pain</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">Lost Feast by Lenore Newman</cite></div>
            </span></div>

            <div id="tdLeft" class="booklist table-style" itemscope=" itemtype="><span class="width-fixer" style="width: 143px;">
            <a onclick="ga('send', 'event', 'productlist', 'Empire of Pain');" href="/book/-9781770414358" tabindex="-1">
            <img style="border: 1px solid #000000; max-width: 140px; width: 146px;" class="bookcover left" alt="Empire of Pain" src="https://covers.powells.com/9781770414358.jpg" itemprop="image" onerror="javascript:imgErrorBlogRoll(this,120,180);"></a>
            <div class="book-info">
            <h3 style="display: block; font-weight: 600; line-height: 1.3em;" class="book-title" itemprop="name"><a onclick="ga('send', 'event', 'product list', 'Empire of Pain');" href="/book/-9780385545686" rel="book-title">Empire of Pain</a>
            </h3>
            <cite style="font-style: normal; line-height: 14px;" itemprop="author">by Patrick Radden Keefe</cite></div>
            </span></div>
          </ol>
          
        </ol>

      </div>

    </div>
  </div>
</div>

<button class="mybtn" (click)='callfunc()'>Click</button>