<div >  
      
  <div >  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="./../../assets/img/00181526-1920x533.jpeg" alt="Delhi Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="./../../assets/img/2-1920x533.jpeg" alt="Bangalore Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="./../../assets/img/3-1920x533.jpeg" alt="Channai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="./../../assets/img/00181526-1920x533.jpeg" alt="Jaipur Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="./../../assets/img/2-1920x533.jpeg" alt="Mumbai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div> 