<div *ngIf="editauthorForm" class="container">
    <div class="content">
        <div class="w-100 text-center">
            <h4>EDIT Author</h4>
        </div>
        <div class="row mt-3">
            <div class="col-6 offset-3">
                <form [formGroup]="editauthorForm" (ngSubmit)="onSubmit(editauthorForm)">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Fullname</mat-label>
                        <input matInput [formControlName]="'fullName'" required  placeholder="Enter new fullname">
                    </mat-form-field>
                </div> 
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Biography</mat-label>
                        <input matInput [formControlName]="'biography'" type="text" placeholder="Enter new biography...">
                    </mat-form-field>
                </div>
                
                
                <div class="justify-content-center">
                    <a>
                        <button  mat-menu-item class="filterButton">Edit</button>
                    </a>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>

